.bg-main
  background: $mc

.bg-white
  background: $wc      

.bg-black
  background: $bc   

.bg-lgc
  background: $lgc   

.bg-gray
  background: $gc   

.bg-yellow
  background: #F6A800
  
.text-black
   color: $bc

.text-white
  color: $wc

.text-main
  color: $mc

.text-gray
  color: #767676  

.text-orange
  color: #F6A800

.text-green
  color: #4CB70B
  