.slide-panel.bg-white.popup-js.popup-window-js.close(data-name="cart-popup")
  .slide-panel__top.d-flex.justify-between
    .title.title_h3.fw-600.ls-0-1.d-flex.align-center.mr-10 Wie möchten Sie fortfahren?
    .slide-panel__close.radius-100.bg-white.bordered-lgc.d-flex.align-center.justify-center.cup.popup-close-js 
      .icon.icon_fill   
        svg(width="24" height="24")
          use(xlink:href='#close') 

  .slide-panel__content.scroll-y.p-30
    .mb-40
      .title.title_h3.mb-15 Neu hier?
      .text Einfach entspannt als Gast weiter einkaufen. Nach Ihrem Kauf haben Sie die Möglichkeit ganz bequem ein Konto anzulegen und alle Vorteile zu nutzen.
      
      button.btn.btn_secondary.w100p.mt-25 weiter als Gast
    
    .mb-40
      .title.title_h3 Sie haben bereits ein XXXLutz Kundenkonto? Melden Sie sich an.
      
      button.btn.btn_bordered-dark.w100p.mt-25 weiter als Gast
    

