script(src='https://code.jquery.com/jquery-3.6.0.js')
script(src='https://code.jquery.com/ui/1.13.2/jquery-ui.js')
script.

  $( ".filter__item-range" ).each(function( index ) {
   $(".slider-range").slider({
    min: 0,
    step: 1,
    values: [10, 90],
    slide: function(event, ui) {
    for (var i = 0; i < ui.values.length; ++i) {
    $(".range-js[data-index=" + i + "]").val(ui.values[i]);
    }
    }
    });
    $(".range-js").on('keyup change', function() {
    var $this = $(this);
    $(this).parents('.filter__item-range').find(".slider-range").slider("values", $this.data("index"), $this.val());
    });
  });


 