.special-order.bg-yellow
  .special-order__close.cup.special-order-close-js
    .icon   
      svg(width="24" height="24")
        use(xlink:href='#close')
  .container 
    .pt-15.pb-15.text-center 
      .coupon-code.mb-5
        .fz-14.text-black.fw-500.d-flex.align-center.justify-center Gutscheincode
          .cup.h-main.h-tdn.d-flex.align-center.copy-js
            span.fw-400.td-undrln.ml-5.copied-element-js(data-copy="CH-ONLINE25") CH-ONLINE25
            .icon.icon_fill.ml-5
              svg(width="18" height="18")
                use(xlink:href='#copy')  

            .copy-message.bg-black.pt-5.pb-5.pl-15.pr-15.pointer-none
              .fz-13.text-white.fw-400 Kopiert

      p.fz-12.text-black 25% auf einen Wunschartikel Ihrer Wahl + zus채tzlich 5% Jubil채umrabatt geschenkt 
        a(href="#").text-black.fw-500.h-tdn G체ltig f체r bestehende und neue Premiumcard-Besitzer (Aktionsbedingungen) 
         

      
