.tab.tab-js
  .container
    .tabs
      ul
        each item,index in ['XXXL Online Shop','Beliebte Kategorien','Beliebte Marken','Beliebte Themen']
          if index == 0
            li.current(data-tab-id="tab"+(index + 1)) 
              a(href="#").text-black.ls-0-1.lh-24.text-center.tdn.p-15=item
          else
            li(data-tab-id="tab"+(index + 1)) 
              a(href="#").text-black.ls-0-1.lh-24.text-center.tdn.p-15=item
    

    .tab__content.tabs__item-wrap        
      .tab__item.d-flex.justify-between.flex-wrap(data-tab-id="tab1") 
        .w50p
          .title.title_h2.mb-15 XXXLutz Markenmöbel zum kleinsten Preis!        
          p.text-black.ls-0-1 XXXLutz macht Ihre Wohnträume wahr: Ob hochwertige 
            a(href="#").h-tdn.text-black.fw-500.ml-5.mr-5 Wohnlandschaften, Boxspringbetten, Gartenmöbel,
            | oder zahlreiche 
            a(href="#").h-tdn.text-black.fw-500.ml-5.mr-5 Babyartikel,
            | Bei einer riesigen Auswahl an Markenmöbeln finden Sie online und in der 
            a(href="#").h-tdn.text-black.fw-500.ml-5.mr-5 Filiale
            | alles, was das Herz begehrt – und das auch noch zum kleinsten Preis! Das vielfältige Sortiment von XXXLutz lässt Ihnen grenzenlosen Spielraum beim Einrichten Ihrer Räumlichkeiten. Dabei steht der Möbel-Experte für individuelle Wünsche und 
            a(href="#").h-tdn.text-black.fw-500.ml-5.mr-5 Planung
            | nach Mass gerne zur Verfügung.
        .w50p
          .title.title_h2.mb-15 XXXLutz Markenmöbel zum kleinsten Preis!        
          p.text-black.ls-0-1 XXXLutz macht Ihre Wohnträume wahr: Ob hochwertige 
            a(href="#").h-tdn.text-black.fw-500.ml-5.mr-5 Wohnlandschaften, Boxspringbetten, Gartenmöbel,
            | oder zahlreiche 
            a(href="#").h-tdn.text-black.fw-500.ml-5.mr-5 Babyartikel,
            | Bei einer riesigen Auswahl an Markenmöbeln finden Sie online und in der 
            a(href="#").h-tdn.text-black.fw-500.ml-5.mr-5 Filiale
            | alles, was das Herz begehrt – und das auch noch zum kleinsten Preis! Das vielfältige Sortiment von XXXLutz lässt Ihnen grenzenlosen Spielraum beim Einrichten Ihrer Räumlichkeiten. Dabei steht der Möbel-Experte für individuelle Wünsche und 
            a(href="#").h-tdn.text-black.fw-500.ml-5.mr-5 Planung
            | nach Mass gerne zur Verfügung.
        .w50p
          .title.title_h2.mb-15 XXXLutz Markenmöbel zum kleinsten Preis!        
          p.text-black.ls-0-1 XXXLutz macht Ihre Wohnträume wahr: Ob hochwertige 
            a(href="#").h-tdn.text-black.fw-500.ml-5.mr-5 Wohnlandschaften, Boxspringbetten, Gartenmöbel,
            | oder zahlreiche 
            a(href="#").h-tdn.text-black.fw-500.ml-5.mr-5 Babyartikel,
            | Bei einer riesigen Auswahl an Markenmöbeln finden Sie online und in der 
            a(href="#").h-tdn.text-black.fw-500.ml-5.mr-5 Filiale
            | alles, was das Herz begehrt – und das auch noch zum kleinsten Preis! Das vielfältige Sortiment von XXXLutz lässt Ihnen grenzenlosen Spielraum beim Einrichten Ihrer Räumlichkeiten. Dabei steht der Möbel-Experte für individuelle Wünsche und 
            a(href="#").h-tdn.text-black.fw-500.ml-5.mr-5 Planung
            | nach Mass gerne zur Verfügung.
        .w50p
          .title.title_h2.mb-15 XXXLutz Markenmöbel zum kleinsten Preis!        
          p.text-black.ls-0-1 XXXLutz macht Ihre Wohnträume wahr: Ob hochwertige 
            a(href="#").h-tdn.text-black.fw-500.ml-5.mr-5 Wohnlandschaften, Boxspringbetten, Gartenmöbel,
            | oder zahlreiche 
            a(href="#").h-tdn.text-black.fw-500.ml-5.mr-5 Babyartikel,
            | Bei einer riesigen Auswahl an Markenmöbeln finden Sie online und in der 
            a(href="#").h-tdn.text-black.fw-500.ml-5.mr-5 Filiale
            | alles, was das Herz begehrt – und das auch noch zum kleinsten Preis! Das vielfältige Sortiment von XXXLutz lässt Ihnen grenzenlosen Spielraum beim Einrichten Ihrer Räumlichkeiten. Dabei steht der Möbel-Experte für individuelle Wünsche und 
            a(href="#").h-tdn.text-black.fw-500.ml-5.mr-5 Planung
            | nach Mass gerne zur Verfügung.
        .w100p
          .title.title_h2.mb-15 XXXLutz Markenmöbel zum kleinsten Preis!        
          p.text-black.ls-0-1 XXXLutz macht Ihre Wohnträume wahr: Ob hochwertige 
            a(href="#").h-tdn.text-black.fw-500.ml-5.mr-5 Wohnlandschaften, Boxspringbetten, Gartenmöbel,
            | oder zahlreiche 
            a(href="#").h-tdn.text-black.fw-500.ml-5.mr-5 Babyartikel,
            | Bei einer riesigen Auswahl an Markenmöbeln finden Sie online und in der 
            a(href="#").h-tdn.text-black.fw-500.ml-5.mr-5 Filiale
            | alles, was das Herz begehrt – und das auch noch zum kleinsten Preis! Das vielfältige Sortiment von XXXLutz lässt Ihnen grenzenlosen Spielraum beim Einrichten Ihrer Räumlichkeiten. Dabei steht der Möbel-Experte für individuelle Wünsche und 
            a(href="#").h-tdn.text-black.fw-500.ml-5.mr-5 Planung
            | nach Mass gerne zur Verfügung.

      each item in [1,2,3]
        .tab__item.d-flex.justify-between.flex-wrap(data-tab-id="tab"+(item + 1))
          each item in ['Kommoden','Schwebetürenschränke','Sessel','Boxspringbetten','Badezimmer','Regale','Wohnlandschaften','Kleiderschränke','Küchen','Garten-Loungen','Vorhänge','Babyzimmer'] 
            .w25p.mb-30
              a(href="#").text-black.tdn.h-undrln=item  
      


