extends layouts/main

block vars
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';

block title
  | furniture 
block main
  .wrapper
    .content
      include includes/header

      .main
        include includes/special-order
        include includes/category
        include includes/product-slider
        
        .container
          .title.title_h1.mt-40.mb-40 Möbel
        
        .category-banner.pos-r.mb-40
          img(src="images/dist/category-banner.webp", alt="").object-cover-img  
        
        
        +category('XXXL Produktvielfalt')
        
        .brands 
          .container   
            .brands__wrap.d-flex.flex-wrap
              each item in [1,2,3,4,5,6]
                .brands__col
                  .brands__item.pos-r
                    img(src="images/dist/brand"+item+".webp", alt="").object-contain-img   
        
        +productSlider('Topseller','Weitere Angebote entdecken')

        .container
          .mb-50  
            .title.title_h1.mb-15 Stilvolle Möbel für ihr Zuhause
            .text
              p.lh-24 Zuhause: Dieser Ort ist etwas ganz Besonderes. Doch erst die Möbel machen aus einem Haus oder einer Wohnung ein behagliches Heim zum Wohlfühlen. Was es dafür braucht und wie das aussieht, ist für jeden anders: ob klassisch oder modern, exotisch oder traditionell, luxuriös oder bodenständig, Landhausstil oder skandinavisches Design, Industrial Style oder Romantik-Look. XXXLutz bietet die gesamte Vielfalt an Einrichtungsstilen und Möbeln, von preisgünstigen Sets bis zu individuell kombinierbaren Einzelmöbeln. Doch auch hinsichtlich des Budgets stehen Ihnen dank der vielfältigen Markenwelt von Novel über Hülsta, Invivus, Joop, Valnatura bis hin zu Landscape und vielen mehr zahlreiche Top-Hersteller in diversen Preisklassen zur Auswahl. Dabei ist es ganz Ihnen überlassen, ob Sie sich vor Ort von unseren Wohnwelten inspirieren und von unseren Einrichtungsexperten beraten lassen oder bequem von zu Hause aus Möbel online kaufen. 
                a(href="#") Küche, 
                a(href="#") Wohnzimmer, 
                a(href="#") Schlafzimmer, 
                a(href="#") Bad, 
                a(href="#") Kinderzimmer 
                | und
                a(href="#") Garten:
                | Wir lassen Wohnträume in jedem Bereich wahr werden.
            
          .mb-50
            ul.ul-list
              each item in ['XXXL-Auswahl an Marken & Möbeln','Möbel kaufen in allen Preisklassen','Grosse Vielfalt an Designs & Einrichtungsstilen','Individuelle Raumplanung mit den XXXLutz-Experten','Top-Beratung online und in unseren Filialen','XXXL-Serviceangebote von der Lieferung bis zur Montage']  
                li.fz-14.text-black=item

          .mb-50  
            .title.title_h1.mb-15 Individuelle Planung und Beratung bei XXXLutz
            p.lh-24 Weil das Zuhause ein so persönlicher Ort ist, möchten wir es individuell nach unseren eigenen Ideen und Vorstellungen gestalten. Dasselbe gilt auch für die Möbel, denn manchmal hätte man beim Esszimmertisch lieber eine Glas- statt Holztischplatte, die Stühle mit einem Polsterbezug in einer anderen Farbe oder die Küchenschränke mit einer matten statt Hochglanz-Front. Dank der grossen Auswahl bei XXXLutz ist alles möglich – viele Möbel aus unserem Sortiment können Sie sogar nach Ihren Wünschen hinsichtlich Farbe, Grösse, Material und mehr konfigurieren lassen. Perfekt also, wenn Sie auf der Suche nach massgeschneiderten Wohnlösungen vom Profi sind! Die XXXLutz-Experten stehen Ihnen nämlich mit viel Erfahrung und Gespür für Farben, Materialien und Trends zur Seite. Der Vorteil für Sie: Einrichtungsideen und -planung wie vom Innenarchitekten! Wir arbeiten ein komplettes Raumkonzept nach Ihren individuellen Anforderungen aus und begleiten Sie von der Planung bis zur Lieferung und fachmännischen Montage Ihrer Möbel. Egal ob es um eine neue Küche oder ein frisch gestaltetes Bad geht: Bei XXXLutz sind Ihre Wohnträume in den besten Händen.
    
          .mb-25  
            .title.title_h1.mb-15 6 wertvolle Tipps für den Möbelkauf
            p.lh-24 Während Wohnaccessoires und Deko gerne auch mal nach Lust und Laune geshoppt werden, wendet man für den Möbelkauf meist deutlich mehr Zeit auf. Und das ist auch gut so, schliesslich gibt es einige Punkte zu bedenken. Diese Fragen sollten Sie sich stellen, wenn Sie neue Möbel kaufen:

          .mb-25
            .title.title_h4.mb-5 ✓ Wie viel Platz ist vorhanden?
            p.lh-24 Egal ob es darum geht, einen ganzen Raum komplett neu einzurichten oder nur darum, ein altes Möbel durch ein neues zu ersetzen, um genaues Ausmessen kommt man nicht herum. Vergessen Sie nicht, die Möbelmasse auch beim Transport bzw. bei der Lieferung zu berücksichtigen. So macht es etwa einen grossen Unterschied, ob die Wohnlandschaft zerlegbar ist oder im Ganzen geliefert wird.
          .mb-25
            .title.title_h4.mb-5 ✓ Wie viel Platz ist vorhanden?
            p.lh-24 Egal ob es darum geht, einen ganzen Raum komplett neu einzurichten oder nur darum, ein altes Möbel durch ein neues zu ersetzen, um genaues Ausmessen kommt man nicht herum. Vergessen Sie nicht, die Möbelmasse auch beim Transport bzw. bei der Lieferung zu berücksichtigen. So macht es etwa einen grossen Unterschied, ob die Wohnlandschaft zerlegbar ist oder im Ganzen geliefert wird.
          .mb-25
            .title.title_h4.mb-5 ✓ Wie viel Platz ist vorhanden?
            p.lh-24 Egal ob es darum geht, einen ganzen Raum komplett neu einzurichten oder nur darum, ein altes Möbel durch ein neues zu ersetzen, um genaues Ausmessen kommt man nicht herum. Vergessen Sie nicht, die Möbelmasse auch beim Transport bzw. bei der Lieferung zu berücksichtigen. So macht es etwa einen grossen Unterschied, ob die Wohnlandschaft zerlegbar ist oder im Ganzen geliefert wird.
          .mb-25
            .title.title_h4.mb-5 ✓ Wie viel Platz ist vorhanden?
            p.lh-24 Egal ob es darum geht, einen ganzen Raum komplett neu einzurichten oder nur darum, ein altes Möbel durch ein neues zu ersetzen, um genaues Ausmessen kommt man nicht herum. Vergessen Sie nicht, die Möbelmasse auch beim Transport bzw. bei der Lieferung zu berücksichtigen. So macht es etwa einen grossen Unterschied, ob die Wohnlandschaft zerlegbar ist oder im Ganzen geliefert wird.
          .mb-25
            .title.title_h4.mb-5 ✓ Wie viel Platz ist vorhanden?
            p.lh-24 Egal ob es darum geht, einen ganzen Raum komplett neu einzurichten oder nur darum, ein altes Möbel durch ein neues zu ersetzen, um genaues Ausmessen kommt man nicht herum. Vergessen Sie nicht, die Möbelmasse auch beim Transport bzw. bei der Lieferung zu berücksichtigen. So macht es etwa einen grossen Unterschied, ob die Wohnlandschaft zerlegbar ist oder im Ganzen geliefert wird.

    svg(width="14" height="14")
      use(xlink:href='#id1')
    include includes/footer


  include includes/svg-sprite 
  include includes/scripts 