extends layouts/jq-ui

block vars
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';

block title
  | Subcategory page | Küchen
block main
  .wrapper
    .content
      include includes/header

      .main
        include includes/special-order
        include includes/breadcrumbs
        include includes/hero-slider
        include includes/offers
        include includes/filter
        include includes/scroll-top

        +breadcrumbs('Produkte')
        
        .container
          .title.title_h1.mt-40.mb-40 Küchen
        
        +heroSlider
        
        .category
          .container
            .title.title_h1.mb-15 Unsere Küchen-Kategorien
            .category__wrap.d-flex.align-stretch.flex-wrap
              each category in [1,2,3,4]
                .category__col.category__col_w25p.mb-30
                  .category__item.pos-r.border-lgc.category-item-js
                    a(href="#1").category__item-link
                    .category__item-top.d-flex.align-center.justify-center.pos-r
                      img.object-cover-img.transition(src="images/dist/unsere-kuchen"+category+".webp", alt=category)
                    .category__item-bottom.p-25
                      .title.title_h3.ls-0-1.mb-5 Garderobe 
                        =category
                      ul.category__subcategory 
                        each subcategory in [1,2,3,4,5]
                          li 
                            a(href="#").text-black.fz-12.td-undrln.h-tdn.h-gray Subcat 
                              =subcategory
        
        include includes/banner
        
        +offers('Küchenstile für jeden Geschmack')

        .offers
          .container
            .offers__wrap.d-flex.flex-wrap.justify-between 
              .offers__item
                .title.title_h2.mb-15 Unsere Küchenmarken
                
                .mb-30
                  p.lh-24.ls-0-1 Verlässliche Qualität und eine beeindruckende Auswahl an Designs. Es gibt viele Gründe, die für eine Markenküche von XXXLutz sprechen.
                
                a(href="#").btn.btn_bordered-dark Zu den Küchenmarken
                  .icon.icon_fill 
                    svg(width="16" height="16")
                      use(xlink:href='#arrow') 

              .offers__item.pointer-none.pos-r
                img(src="images/dist/brand.webp", alt="").object-contain-img

        .helpful-advice
          .container
            .helpful-advice__wrap.d-flex.align-stretch
              .helpful-advice__col 
                .helpful-advice__img.d-flex.align-center
                  img(src="images/dist/helpful-advice.webp", alt="")
              .helpful-advice__col
                .ls-0-1.mb-5 Beratertipp
                .title.title_h2.mb-25 Kostenloser Beratungstermin
                .mb-25 
                  p.text-black.lh-24.ls-0-1 Planen Sie Ihre Traumküche wo, wann und wie Sie möchten! Wir beraten Sie vor Ort im XXXLutz-Küchenstudio oder bequem von Zuhause aus – und das selbstverständlich kostenlos & unverbindlich.

                a(href="#").btn.btn_accent Termin vereinbaren 


        .section 
          .container
            .title.title_h1.mb-15 Moderne Küchen bei 
            p.lh-24.ls-0-1 In der Küche geht es um Geschmack – das betrifft nicht nur das Kochen, sondern auch die Einrichtung selbst. Bei uns finden Sie angesagte Küchentrends wie Küchen im Landhausstil oder wie Sie Küche und Wohnen am besten vereinen. Vertrauen Sie in Ihrer individuell planbaren Küche auf hochwertige Materialien wie Naturstein-Arbeitsplatten und praktische Innovationen wie per App steuerbare Elektrogeräte.


        .section 
          .container
            .d-flex.align-end.justify-between
              .d-flex
                a(href="#" data-name="sorting").btn.btn_bordered-dark.mr-15.popup-trigger-js Sortieren
                  .icon.icon_fill.ml-5 
                    svg(width="16" height="16")
                      use(xlink:href='#double-arrow')  
                a(href="#" data-name="filter").btn.btn_bordered-dark.popup-trigger-js Alle Filter
                  .icon.icon_fill.ml-5 
                    svg(width="16" height="16")
                      use(xlink:href='#filter')  
              p.fz-12 921 Artikel
            .line-separate-lgc.mt-25.mb-25

            .product-wrap
              .product-wrap__col.w25p
                .product-item.p-25.d-flex.flex-column.justify-between.tdn.product-item-js
                  button.favorite.favorite-js.click-effect-js.btn-reset.cup.h-main.active
                    .icon.icon_fill 
                      svg(width="24" height="24")
                        use(xlink:href='#heart')
                  a(href="#1").product-item__link 
                  .product-item__status.status.status_orange.bg-white.text-uppercase.ls-1-6.fz-10.fw-500.lh-16.d-if.align-center.justify-center.pl-10.pr-10.text-center WERBUNG
                  div
                    .product-item__img-wrap.d-flex.flex-column.align-center.justify-center.mb-25
                      .product-item__img
                        img.object-contain-img(src="images/dist/product2.webp", alt="product" width="160" height="160") 
                      .product-item__hidden-img
                        img.object-contain-img(src="images/dist/product-hidden2.webp", alt="product" width="160" height="160") 
                    
                      .product-item__hidden-img-list
                        ul
                          each list in [1,2,3,4]
                            li(data-id=list) 
                              img.object-contain-img(src="images/dist/product-thumb2"+list+".webp", alt="")

                    .mb-15.product-item__desc
                      .fz-12.lh-18.text-gray Nove
                      .text-black.fz-15.fw-500.lh-20.text-uppercase ARMLEHNSTUHL 
                      .text-black.fz-15.fw-400.lh-20 in Eisen Mikrofaser 
                    .product-item__hidden-thumbs.thumbs-js.mt-15.mb-15
                      ul.d-flex
                        each thumb in [1,2,3]
                          li(data-id=thumb).pr-5
                            a(href="#").h-br-bc.d-flex.align-center.justify-center.bg-white 
                              img.object-contain-img(src="images/dist/product-thumb2"+thumb+".webp", alt="")
                        li(data-id='4').pr-5
                          a(href="#").h-br-bc.d-flex.align-center.justify-center.bg-white.tdn 
                            img.object-contain-img(src="images/dist/product-thumb24.webp", alt="")
                            span.product-item__thumbs-more.text-black +3  

                  .d-flex.flex-column.justify-between

                    div 
                      .text-gray.fz-12.lh-18.d-flex.align-center
                        .icon.icon_fill.icon_fill-gray 
                          svg(width="18" height="18")
                            use(xlink:href='#colors')
                        | Mehr Farben verfügbar
                      .text-main.fz-14.lh-20 CHF 129.‒
                      .text-gray.fz-12.lh-18 Kostenloser Versand
              
              .product-wrap__col.w25p
                .product-item.p-25.d-flex.flex-column.justify-between.tdn.product-item-js
                  button.favorite.favorite-js.click-effect-js.btn-reset.cup.h-main
                    .icon.icon_fill 
                      svg(width="24" height="24")
                        use(xlink:href='#heart')
                  a(href="#").product-item__link
                  .product-item__status.status.status_red.bg-white.text-uppercase.ls-1-6.fz-10.fw-500.lh-16.d-if.align-center.justify-center.pl-10.pr-10.text-center AKTION %
                  .product-item__img-wrap.d-flex.flex-column.align-center.justify-center.mb-25
                    .product-item__img
                      img.object-contain-img(src="images/dist/product2.webp", alt="product" width="160" height="160") 
                    
                  .d-flex.flex-column.justify-between
                    .mb-15
                      .fz-12.lh-18.text-gray Nove
                      .text-black.fz-15.fw-500.lh-20.text-uppercase ARMLEHNSTUHL 
                      .text-black.fz-15.fw-400.lh-20 in Eisen Mikrofaser 

                    div 
                      s.text-gray.fz-12.lh-18 statt CHF 199.‒
                      .text-balck.fz-14.lh-20 CHF 129
                        sup .80
                      .text-gray.fz-12.lh-18 Kostenloser Versand

              .product-wrap__col.w25p
                .product-item.p-25.d-flex.flex-column.justify-between.tdn.product-item-js
                  button.favorite.favorite-js.click-effect-js.btn-reset.cup.h-main
                    .icon.icon_fill 
                      svg(width="24" height="24")
                        use(xlink:href='#heart')
                  a(href="#").product-item__link
                  .product-item__status.status.status_orange.bg-white.text-uppercase.ls-1-6.fz-10.fw-500.lh-16.d-if.align-center.justify-center.pl-10.pr-10.text-center ONLINE ONLY
                  .product-item__img-wrap.d-flex.flex-column.align-center.justify-center.mb-25
                    .product-item__img
                      img.object-contain-img(src="images/dist/product2.webp", alt="product" width="160" height="160") 
                    
                  .d-flex.flex-column.justify-between
                    .mb-15
                      .fz-12.lh-18.text-gray Nove
                      .text-black.fz-15.fw-500.lh-20.text-uppercase ARMLEHNSTUHL 
                      .text-black.fz-15.fw-400.lh-20 in Eisen Mikrofaser 

                    div 
                      .text-gray.fz-12.lh-18.d-flex.align-center
                        .icon.icon_fill.icon_fill-gray.mr-5
                          svg(width="18" height="18")
                            use(xlink:href='#customizable')
                        | Konfigurierbar
                      .text-gray.fz-14.lh-20 CHF 129.‒
                      .text-gray.fz-12.lh-18 Kostenloser Versand

              each item in [1,2,3,4,5,6,7,8,9]
                .product-wrap__col.w25p
                  .product-item.p-25.d-block.tdn.product-item-js
                    button.favorite.favorite-js.click-effect-js.btn-reset.cup.h-main
                      .icon.icon_fill 
                        svg(width="24" height="24")
                          use(xlink:href='#heart')
                    a(href="#").product-item__link
                    .product-item__status.status.status_orange.bg-white.text-uppercase.ls-1-6.fz-10.fw-500.lh-16.d-if.align-center.justify-center.pl-10.pr-10.text-center WERBUNG
                    .product-item__img-wrap.d-flex.flex-column.align-center.justify-center.mb-25
                      .product-item__img
                        img.object-contain-img(src="images/dist/product2.webp", alt="product" width="160" height="160") 
                      .product-item__hidden-img
                        img.object-contain-img(src="images/dist/product-hidden2.webp", alt="product" width="160" height="160") 
                    
                    .d-flex.flex-column.justify-between
                      .mb-15
                        .fz-12.lh-18.text-gray Nove
                        .text-black.fz-15.fw-500.lh-20.text-uppercase ARMLEHNSTUHL 
                        .text-black.fz-15.fw-400.lh-20 in Eisen Mikrofaser 

                      div 
                        s.text-gray.fz-12.lh-18 statt CHF 199.‒
                        .text-main.fz-14.lh-20 CHF 129.‒
                        .text-gray.fz-12.lh-18 Kostenloser Versand

            .text-center
              button.btn.btn_light-gray.w50p Mehr anzeigen
                .icon.icon_stroke.ml-10
                  svg
                    use(xlink:href='#loading')

              .d-flex.align-center.justify-center.text-center.fz-12.mt-10
                .fw-500.mr-5 60
                | von
                .fw-500.ml-5.mr-5 921
                | Artikel angezeigt
              
              .d-flex.align-center.justify-center.mt-10
                .progress.bordered-lgc.bg-lgc   
                  .progress__line.bg-gray.h100p(style="width: 10%")   

            include includes/banner

            +offers

        
        .container
          .mb-50  
            .title.title_h1.mb-15 Küchen von XXXLutz: der stilvolle Mittelpunkt des Zuhauses
            .text
              p.lh-24 In einer Küche werden nicht nur Mahlzeiten zubereitet – sie ist ein Ort für unterschiedlichste Genuss- und Gemeinschaftserlebnisse. Hier werden die Koch- und Backkunst so richtig zelebriert, bekanntlich so manche Party gefeiert und tiefsinnige Gespräche beim berühmten Rotweinglas geführt, aber auch Kekse mit den Kindern gebacken und der morgendliche Espresso im Stehen getrunken. Moderne Küchen und Küchenmöbel müssen also äusserst vielseitig sein, um den individuellen Anforderungen im Koch- und Familienalltag gerecht zu werden. Bei Küchen von XXXLutz können Sie sicher sein, nicht nur ausgezeichnete Qualität von renommierten Herstellern und Marken zu kaufen, sondern auch die neuesten Stauraumlösungen, innovative Elektrogeräte und angesagte Küchentrends und Küchenstile vorzufinden. Egal ob Sie eine grosszügige Familienküche im Landhausstil suchen oder einen kompakten Küchenblock im puristischen Look für die Singlewohnung: Unsere Einrichtungsexperten beraten Sie gerne und planen gemeinsam mit Ihnen Ihre neue Küche samt Küchenmöbeln.
          
          .mb-50  
            .title.title_h1.mb-15 Küchen von XXXLutz: der stilvolle Mittelpunkt des Zuhauses
            
            ul.ul-list
              each item in ['XXXL-Auswahl an Marken & Möbeln','Möbel kaufen in allen Preisklassen','Grosse Vielfalt an Designs & Einrichtungsstilen','Individuelle Raumplanung mit den XXXLutz-Experten','Top-Beratung online und in unseren Filialen','XXXL-Serviceangebote von der Lieferung bis zur Montage']  
                li.fz-14.text-black=item

          .mb-50  
            .title.title_h1.mb-15 Die Küche als erweiterten Wohnraum gestalten
            p.lh-24 Der Begriff „Wohnküche“ verrät es schon: Bei Küchen handelt es sich keineswegs um rein funktionale Räume, sondern um einen erweiterten Wohnbereich. Offene Grundrisse und das sogenannte „Open Plan Living“-Konzept haben die Küche fix als Mittelpunkt des Zuhauses etabliert. Insbesondere wenn sich der Esstisch samt Stühlen und Sitzbank hier befindet, rückt die Küche ins Zentrum des Familienlebens. Wohlfühlen kommt hier nach Genuss also gleich an zweiter Stelle, doch auch die Ansprüche an die optische Gestaltung der Küchenmöbel sind damit gestiegen. Neben der Entscheidung für einen Einrichtungsstil beeinflussen viele weitere Faktoren die Wohnlichkeit einer Küche. Das beginnt bereits beim Bodenbelag: Sehr beliebt sind etwa pflegeleichte und unempfindliche Vinylböden. Im täuschend echten Parkett-Look sorgen sie für natürlichen Charme. Noch mehr Gemütlichkeit zieht mit einem Küchenteppich ein. Hier sollte man wie auch bei den Vorhängen auf leicht waschbare Materialien achten. Der Sichtschutz-Klassiker sind übrigens halblange Scheibengardinen, wobei auch Plissees immer gefragter sind. Bei der Wandgestaltung sind Glasbilder sehr empfehlenswert, denn Fettspritzer und andere Flecken lassen sich ganz einfach abwischen. Fotorealistische Motive von köstlichen Speisen, exotischen Gewürzen und bunten Früchten machen schon beim Hinsehen Appetit.t
    
          .mb-25  
            .title.title_h1.mb-15 Einbauküche oder Küchenblock?
            p.lh-24 Von Geschirr über Besteck bis hin zu Vorräten gibt es in der Küche einiges unterzubringen. Clevere Stauraumlösungen und Ordnungssysteme sind daher besonders gefragt. Wir haben fünf Tipps, an die Sie bei der Stauraumplanung Ihrer Küchenmöbel vielleicht noch nicht gedacht haben!

          .mb-25
            .title.title_h1.mb-15 5 Tipps für mehr Stauraum in der Küche:
            p.lh-24 1. Hängeschränke: Nutzen Sie die gesamte Raumhöhe der Küche, indem Sie hohe Hängeschränke über den Arbeitsflächen montieren. In den obersten Fächern werden Gegenstände verstaut, die man nur selten benötigt. Um den Raum optisch nicht zu „erdrücken“, sollten die Schrankfronten aber in einer hellen Farbe gehalten sein.
         
          .mb-25
            p.lh-24 2. Vollauszüge: Vollauszüge bei Schubladen sind zwar meist etwas teurer in der Anschaffung, lohnen sich aber gerade in kleinen Küchen. Durch die Nutzung der gesamten Schranktiefe geht kein wertvoller Stauraum in den Küchenmöbeln verloren.
          
          .mb-25
            p.lh-24 3. Einbaugeräte: So trendig ein amerikanischer Kühlschrank auch ist, Einbaugeräte benötigen weniger Platz als freistehende Modelle. Dadurch kann das Stauraumpotenzial der Küche noch besser ausgeschöpft werden.
    
          .mb-25
            p.lh-24 4. Stauraum im Sockel: Ab 15 cm Höhe lässt sich der Sockel prima für Stauraum nutzen. So verschwinden Backbleche, Servietten, Bretter und andere flache Küchenutensilien ganz einfach in Sockelschubladen der Küchenmöbel. Alternativ kann man beim Küchenkauf auf einen niedrigen Sockel achten, denn so geht nur wenig potenzieller Stauraum verloren.
    
          .mb-25
            p.lh-24 5. Spezial-Ausstattungen: Ein Eckkarussell für Töpfe und Pfannen ist ein Klassiker für Eckunterschränke. Doch kennen Sie auch einen Eckaufzug, der auf Knopfdruck Küchengeräte auf Höhe der Arbeitsfläche befördert oder darin versenkt? Keinen Kubikzentimeter Stauraum verschenken Sie ausserdem mit einem Spülenauszug, der unter dem Spülbecken rund um die Leitungen verläuft und Kleinkram sicher aufbewahrt. Ihr XXXLutz Küchenberater kennt bestimmt noch viele weitere Tricks, wie Sie noch mehr Stauraum und Ordnung aus Ihren Küchenmöbeln herausholen!

          .mb-25  
            .title.title_h1.mb-15 Jetzt bei XXXLutz neue Küche kaufen und planen
            p.lh-24 Bei XXXLutz sind Sie rund ums Thema Küche einrichten genau richtig. Von Einrichtungsstilen über Formen, Farben und Marken bis hin zur Ausstattung gibt es hier zahlreiche Möglichkeiten zu entdecken. Egal ob Sie eine neue Küche kaufen wollen oder nur Ihre bestehende um Einzel-Küchenmöbel ergänzen wollen, wir laden Sie herzlich ein, in die Welt der Küchengestaltung einzutauchen! Vereinbaren Sie am besten gleich einen kostenlosen & unverbindlichen Beratungstermin in einer unserer Filialen.

        include includes/advantages
    
    
    include includes/footer


  include includes/svg-sprite 
  include includes/scripts 
  include includes/range 